<!DOCTYPE html>
<html lang="en">
<head>
    {{>links}}
    <title>Customers</title>
</head>
<body class="d-flex flex-column min-vh-100">
    {{>header}}
    <div class="container">
            {{#if allCust}}
                <div>
                    <h1 class="text-center mb-4" style="font-family: 'Dancing Script', cursive; color: #00ff00;">All Customers</h1>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="align-middle text-center">User Id</th>
                                <th class="align-middle text-center">Username</th>
                                <th class="align-middle text-center">Email</th>
                                <th class="align-middle text-center">Balance</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each allCust}}
                                    <tr class="align-items-center" style="transform: rotate(0);">
                                        <th class="align-middle text-center"><a href="/customers/{{this._id}}" class="stretched-link btn border-0 shadow-none">{{this._id}}</a></th>
                                        <td class="align-middle text-center">{{this.username}}</td>
                                        <td class="align-middle text-center">{{this.email}}</td>
                                        <td class="align-middle text-center">{{this.balance}}</td>
                                    </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            {{else}}
                <div>
                    <h1 class="text-center" style="font-family: 'Dancing Script', cursive; color: #00ff00;">No Customers Have Registered Yet</h1>
                </div>
            {{/if}}
        </div>
    </div>
    {{>footer}}
    {{>closing}}
</body>
</html>